* {
    margin: 0
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 20px; 
    text-align: center;
  }
  
  .section-container {
    display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid #000; 
      height: 500px; 
      padding-top: 10px;
      box-sizing: border-box;
  }
  
  .title {
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0; 
  }

#pokemonImage {
    width: 300px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
  }

  .sticker-container {
    margin-bottom: 20px;
}

.sticker-container img {
    width: 100px;
    height: auto;
}

input[type="number"] {
    width: 50px;
    margin-top: 10px;
}

#message {
    font-weight: bold;
}

#select-container {
    display: flex; 
    justify-content: center;
    align-items: center; 
}

select, button {
    margin: 5px;
    padding: 5px;
}

#result {
    font-weight: bold;
}

